html{
	min-height: 100%;
	
	background-image: url("images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	margin: auto;	
	font-family: sans-serif;
	
	background-color: lightblue;
	background: linear-gradient(lightblue, white);
	background-size: cover;
	background-attachment: fixed;
	max-width: 960px;
}

#wrapper, #oldwrapper, #newwrapper {
	margin: 10px;
}


nav a {
	float: left;
	color:#404052;
	text-decoration:none;
	
	display: inline-block;
	margin: 0;
	padding: 5px 15px 5px 15px;
	border-radius: 13px 13px 0px 0px;
	background-color: #5DD4FD;
	border: 1px solid #55C1E6;
	font-size: 1em;	
}

nav ul {
	list-style-type: none;
	margin-top: 5px;
	padding: 5px;
}

nav ul li:active, nav ul li:hover {
	background: rgb(237,244,217);
}

nav a:link, nav a:visited, #logoContainer a {
	text-decoration: none;
}

nav a:hover, div.breadcrumbs a:hover {
	background-color: white;
}

.navActive{
	background-color: white;
}

li.commentsAlert {
	background: url(images/commentalert_10x10.png) no-repeat;
	background-position-x: 40px;
	background-position-y: 2px;
}

li.critiquesAlert {
	background: url(images/critiquealert_10x10.png) no-repeat;
	background-position-x: 40px;
	background-position-y: 2px;
}

.footer{
	text-align: center;
	font-size: .65em;
	font-style: italic;
		
	clear: both;
	color: darkgrey;
}

.phoneMenu{
	display: none;
}


#logoContainer{
	margin-top: 10px;
	position: relative;
	display: inline-block;
	
}

#discuss{
 	font-family: 'Covered By Your Grace', cursive;
	margin-top: 50px;
	margin-left: 15px;
	width: 250px;
	font-size: 60px;
	text-decoration: none;
	color:#404052;
}

.halloween #discuss{
	font-family: 'Nosifer', cursive;
	font-size: 40px;
}

#it{
/* 	font-family: 'Cormorant Unicase', serif; */
	font-family: 'Nixie One', cursive;
	font-size: 60px;
	font-weight: bold;
	color: #26697F;
	text-decoration: none;
}

.halloween #it{
	font-family: 'Nosifer', cursive;
/* 	font-family: 'Creepster', cursive; */
	color: red;

}

#title{
	color: #9C6208;
    position: absolute;
    bottom: 6px;
    right: 5px;
    font-size: 1em;
}


ul.things {
	padding-left: 10px;
}

ul.things a:hover{
	background-color: #edf4d9;
}

ul.things li {
	list-style-type: none;
	padding-bottom: 20px;
}

.commentdesc {
	font-size: .75em;
	font-style: italic;
	color: grey;
	padding-left: 10px;
}

.commentcount {
	font-size: .55em;
	font-weight: bold;
	margin-left: 15px;
}

.sentiment {
	font-size: .55em;
	font-weight: bold;
}

ul.things li.new {
	margin-top: 20px;
	margin-bottom: 20px;
}

.author {
	font-size: .75em;
	font-style: italic;
}

span.critiqueauthor {
	font-size: .75em;
}

span.crit-stats, span.report {
	font-size: .75em;
	margin-left: 5px;
}

span.report {
	margin-left: 5px;
}

div.thingcontainer {
	background-color: #c5dd80;
	padding: 5px 10px 10px 10px;
	border-bottom: 1px solid #7B8B4A;
	border-radius: 0px 0px 20px 0px;
}

p.thingtitle {
	font-size: larger;
	font-weight: bold;
	margin-bottom: 0px;
}

p.thingtagline {
	margin-top: 0;
	font-size: .75em;
	font-style: italic;
}

p.thingdescription {
	background-color: white;
	padding: 10px 10px 10px 10px;
	border-radius: 0px 0px 20px 0px;

	margin-bottom: 5px;
}

p.thingattachment {
	font-size: .75em;
	font-style: italic;
	margin: 0 0 0 0;
}

ul.comments {
	list-style-image: none;
	padding-left: 20px;
}

ul.comments li {
	height: auto;
	margin-bottom: 25px;
	position: relative;
}


.comments > li:before{
	content: "\f0e5";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 0;
    left: 0;
}

.comments > li {
	padding-left: 25px;
	list-style: none;
	margin: 0;
}




ul.comments li span.mine {
	background-color: #91fd8c;
}

.voting {
	font-size: .75em;
	font-weight: bold;
	margin-left: 15px;
	margin-top: 3px;
}

div form input[type="text"], div form input[type="password"], div form textarea {
	margin-bottom: 10px;
}

input[type="submit"] {
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 0px 0px 13px 0px;
	border-bottom: 1px solid blue;
	padding: 5px;
}


#name{
	width: 90%;
	max-width: 500px;
}

#description {
	width: 90%;
	height: 100px;
	max-width: 500px;
}

.newthing {
	font-size: .75em;
}

.newthing h3 {
	margin-left: 1em;
}
.newthing form {
	padding-bottom: 10px;
}

.newthing form fieldset{
	border:0;
}

label {
    display: inline-block;
    margin: 10px 10px 10px 0;
}
.newthing label {
    width: 130px;
    font-size: 1em;
}

.profile label {
    width: 150px;
    font-size: .9em;
}

fieldset{
	border:0;
}

p.footer {
	margin-top: 50px;
}

@media only screen and (min-width: 800px) {
	div.search {
		float: right;
	}
}

p.commentattachment {
	font-size: .75em;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 0;
}

div.error {
	display: inline-block;
	border-radius: 6px;
	border-bottom: 1px solid #7B8B4A;
	padding: 5px 5px 5px 5px;
	width: auto;
	font-size: .75em;
	font-style: italic;
	
	background-color: #5DD4FD;

}

div.message {
	display: inline-block;
	color: black;
	border-radius: 6px; 
 	border-bottom: 1px solid #5DD4FD;
	padding: 5px 5px 5px 5px;
	width: auto;
	font-style: italic;
	
	margin: 10px;
	background-color: white;
	font-size: .75em;
}

.users, .attachmenttypes {
	font-size: .9em;
}

.users li, .attachmenttypes li {
	padding-bottom: 8px;
}

.users li a:hover{
	background-color: white;
}


div.newattachmenttype, div.newthing, div.profile, div.register, div.thingcontainer, div#tabs ul li, .uncommented{
	background: linear-gradient(rgba(93,212,253, 0.9), rgba(151,227,253,0.9));
	border: 1px solid #55C1E6;
}

.newattachmenttype h4{
	margin-top: 0;
}

ul.critiques {
	margin-top: 10px;
}

ul.critiques li {
	margin-bottom: 10px;
	height: auto;
}

ul.critiques li.critique.up {
	list-style-image: none;
/* 	background: url('images/ic_critique_up.png') no-repeat left 1px; */
	padding-left: 20px;
	list-style: none;
	margin: 0;
	color: #777777;
	padding-bottom: 4px;
	position: relative;	
}

ul.critiques li.critique.up:before{
	content: "\f087";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 13px;
    padding-right: 0.5em;
    position: absolute;
    top: 4px;
    left: 0;
    color: #449BB9;
}


ul.critiques li.critique.down {
	list-style-image: none;
/* 	background: url('images/ic_critique_down.png') no-repeat left 1px; */
	padding-left: 20px;
	list-style: none;
	margin: 0;
	padding-bottom: 4px;
	position: relative;	

}

ul.critiques li.critique.down:before{
	content: "\f088";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 14px;
    padding-right: 0.5em;
    position: absolute;
    top: 2px;
    left: 0;
    color: #9C6208;
}

span.critiquetext {
	font-style: italic;
	font-size: .85em;
}

span.critiqueoverride {
	font-size: .75em;
}

ul.critiques li.critique.instructor, ul.critiques li.critique.instructor{
	color: #c07608;
}

.overridden {
	text-decoration: line-through;
}

input[type="button"].up {
	background-color: lightgreen;
	margin-right: 5px;
	padding-right: 15px;
	border-radius: 0px 0px 20px 0px;
}

input[type="button"].down {
	background-color: #ECC2A3;
	padding-left: 15px;
	border-radius: 20px 0px 0px 0px;
}

input[type="button"].hideupdown {
	background-color: #ffe066;
	margin-left: 15px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 15px 0px 15px 0px;
}

.processing {
	font-size: .75em;
	font-style: italic;
}

span.note, div.note {
	font-size: .65em;
	margin-left: 15px;
}

.upvotetext, .downvotetext, #comment {
	width: 90%;
	max-width: 500px;
}

.uncommented{
	border-bottom: 1px solid #7B8B4A;
	border-radius: 0px 0px 20px 0px;
	margin-bottom: 10px;
	padding-top: 4px;
}

.uncommented a:visited, .uncommented a:link{
	text-decoration: none;
}

table.agenda, table.agenda tr, table.agenda td, table.agenda th {
	border: solid black 1px;
}

.agenda{
	border-collapse: collapse;
	width: 98%;
}

.agenda th{
	background-color: #5DD4FD;
}

.agenda td{
	padding: 1px 5px 1px 5px;
}

.agenda td:nth-of-type(2), .agenda td:nth-of-type(3), .agenda td:nth-of-type(4){
	text-align: center;
}

.agenda tr:hover{
		background-color: #D1D5DB;
}

table.calendar {
	border-left:1px solid #999;
}

td.calendar-day	{
	font-size:11px;
	position:relative;
	vertical-align: top;
}

td.today {
	background-color: #D1D5DB;
}

* html div.calendar-day {
	height:80px;
}

td.calendar-day:hover {
	background: #D1D5DB;
}

td.calendar-day-np	{
	background:#eee;
	min-height:80px;
}

* html div.calendar-day-np {
	height:80px;
}

tr.calendar-row {
	height: 6em;
}

tr.calendar-day-head {
	height:1em;
}

th.calendar-day-head {
	text-align:center;
	width:120px;
	padding:5px;
	border-bottom:1px
	solid #999;
	border-top:1px solid #999;
	border-right:1px solid #999;
	
	background: #7ADBFD;
	color: black;
	font-weight: normal;
}

div.day-number {
	float:right;
	width:20px;
	text-align:center;
	
	background: #7ADBFD;
	color: black;
	font-weight: normal;	
	
	padding:2px;
	margin:-3px -4px 0 0;
	border-radius: 8px;	
}
/* shared */
td.calendar-day, td.calendar-day-np {
	width:120px;
	padding:5px;
	border-bottom:1px solid #999;
	border-right:1px solid #999;
}
.visuallyhidden {
	display: none;
}

table#rollcalltable tr.notpresent {
	color: red;
}

div#tabs ul {
	border-bottom: 1px solid #404052;
	padding-left: 5px;
}

div#tabs ul li {
	display: inline-block;
	border-bottom-width: 0px;
    border-radius: 13px 13px 0px 0px;
    padding: 5px 15px 5px 15px;
	background: #5DD4FD;
}

div#tabs ul li.active {
	background: white;
}

div#tabs ul li a:visited, div#tabs ul li a:link{
	color: #404052;
}

table.students, table.students tr td, table.students tr th {
	border: 1px solid black;
}

.histogram {
	border-bottom: 1px solid #5DD4FD;
	height: 100px;
	display: inline-block;
	margin-top: 30px;
}

.histogram .histobar {
	display: inline-block;
	background: linear-gradient(rgba(151,227,253,0.9), rgba(93,212,253, 0.9));
	
	margin-left: 5px;
	margin-right: 5px;
	width: 20px;
	border: 1px solid #5DD4FD;
	position: relative;
	bottom: 1px;
}

span.chart {
	display: inline-block;
	margin-right: 30px;
	text-align: center;
	padding-bottom: 1px;
}

span.chart h4 {
	margin-top: 2px;
}

.here{
	color: red;
}

.download{
	text-decoration: none;
}

.ical{
	font-size: 10px;
}

#snarky{
	font-family: 'Mali', cursive;
}




@media screen and (min-width: 601px){
	
	.clear{
		clear: both;
	}

		
}

@media screen and (max-width: 600px){
	
	nav {
		float: right;
	}
	
	nav img{
		margin: 5px;
	}
	
	nav a {
		margin: 0;
		padding: 0;
		border-radius: 0;
		background-color: transparent;
		border: 0;
		text-decoration:none;
	}
	
	nav li {
		padding: 0;
		display: inline;
	}
	
	nav ul {
		list-style-type: none;
		margin-top: 0;
		padding: 0;
	}
	
	nav a:hover, nav a:active {
		background: transparent;
	}
	
	
	.phoneMenu{
		display: inline;
		background-color: transparent;
	}
	
	.hotdog{
		display: inline;
	}
	
	.hotdogcontrol{
		margin-right: 10px;
	}
	
	.menuHidden{
		display: none;
	}
	
	.menuVisable{
		display: inline;
	}
		
	.screenMenu{
		display: none;
	}
	

	#logo{
		padding-top: 0px;
		width: 200px;
	}
	
	.menuIcons{
		padding: 7px;
	}
	


}




