body {
	background-color: lighblue;
    background: linear-gradient(lightblue, white);
}

nav a {
	background-color: #7cc9e3;
	border-bottom: 1px solid darkblue;
}

div.newattachmenttype, div.newthing, div.profile, div.register, div.thingcontainer, div#tabs ul li, .uncommented{
	background-color: #7cc9e3;
}

.footer{
	clear: both;
	color: darkgrey;
}

@media screen and (max-width: 405px){
	
	nav a {
		float: none;
		margin-right: 13px;
		border-radius: 0;
		background-color: transparent;
		border-bottom: 0px;
		font-size: 1em;
		text-decoration:none;
	}
	
	nav li {
		padding: 5px;
		clear: float;
	}
	
	#mainmenulabel{
		display: block;
		padding-left: 10px;
		margin-bottom: 0;
	}
}